<body>

<div class="bg">
  <div class="bg__top" >
  </div>
  <div class="bg__bottom">
  </div>
</div>

<div class="header">
  <div class="containner">

  </div>
</div>

<div class="titleJ">
  <div class="containner">
    <h2>
      Jessica Honda
    </h2>
  </div>

<div class="infoJ">
  <div class="containner">
    <p>
      Operations
    </p>
  </div>
</div>

<a href="/" class="twitter-logoR">

</a>
<div class="logo-contentJ">
  <p>
    &#0064;jessicahonda
  </p>
</div>

<div class="jessicaTweets">
    <a class="twitter-timeline" data-width="640" data-height="640" data-tweet-limit="5" href="https://twitter.com/jessicahonda">
    </a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>


</body>
