<body>

<div class="bg">
  <div class="bg__top" >
  </div>
  <div class="bg__bottom">
  </div>
</div>


<div class="header">
  <div class="containner">

  </div>
</div>

<div class="title">
  <div class="containner">
    <h2>
      Meet our team
    </h2>
  </div>

<div class="info">
  <div class="containner">
    <p>
      We are a group of multi-skilled individuals who are entrepreneurial by nature
      and live to make digital products and services that people love to use.
    </p>
  </div>
</div>


</div>

<div class="main">
  <div class="containner">

  </div>
</div>
  <a href="/" class="twitter-logo">

  </a>
  <div class="logo-content">
    Latest tweets
  </div>

  <div class="flex-container">

    <a href="/rafael/index" class="box boxRafael">  </a>

    <div class="box boxFlavio">  </div>

    <div class="box boxCarvalho">  </div>

    <div class="box boxVictoria">  </div>

    <div class="box boxJessica">  </div>

    <div class="box boxMatheus">  </div>

    <div class="box boxKande">  </div>

    <div class="box boxMario">  </div>

    <div class="box boxThiago">  </div>

    <div class="box boxContaifer">  </div>

    <div class="box boxBruno">  </div>

  </div>

  <div class="rafaelTitle">
    Rafael Torales
  </div>

  <div class="rafaelTwitter">
    <p>
      &#0064;rafaeltorales
    </p>
  </div>

  <div class="rafaelAtt">
    Designer
  </div>

  <div class="flavioTitle">
    Flavio Ludgero
  </div>

  <div class="flavioTwitter">
    <p>
      &#0064;flavioludgero
    </p>
  </div>

  <div class="flavioAtt">
    Developer
  </div>

  <div class="carvalhoTitle">
    Renato Carvalho
  </div>

  <div class="carvalhoTwitter">
    <p>
      &#0064;renatocarvalho
    </p>
  </div>

  <div class="carvalhoAtt">
    Designer
  </div>

  <div class="victoriaTitle">
    Victoria Haidamus
  </div>

  <div class="victoriaTwitter">
    <p>
      &#0064;victoriahaidamus
    </p>
  </div>

  <div class="victoriaAtt">
    Designer
  </div>

  <div class="jessicaTitle">
    Jessica Honda
  </div>

  <div class="jessicaTwitter">
    <p>
      &#0064;jessicahonda
    </p>
  </div>

  <div class="jessicaAtt">
    Operations
  </div>

  <div class="matheusTitle">
    Matheus Sales
  </div>

  <div class="matheusTwitter">
    <p>
      &#0064;matheussales
    </p>
  </div>

  <div class="matheusAtt">
    Developer
  </div>

  <div class="kandeTitle">
    Kande Bomfim
  </div>

  <div class="kandeTwitter">
    <p>
      &#0064;kandebonfim
    </p>
  </div>

  <div class="kandeAtt">
    Developer
  </div>

  <div class="marioTitle">
    Mario Gogh
  </div>

  <div class="marioTwitter">
    <p>
      &#0064;mariogogh
    </p>
  </div>

  <div class="marioAtt">
    Designer
  </div>

  <div class="thiagoTitle">
    Thiago Oliveira
  </div>

  <div class="thiagoTwitter">
    <p>
      &#0064;thiagooliveira
    </p>
  </div>

  <div class="thiagoAtt">
    Developer
  </div>

  <div class="contaiferTitle">
    Renato Contaifer
  </div>

  <div class="contaiferTwitter">
    <p>
      &#0064;renatocontaifer
    </p>
  </div>

  <div class="contaiferAtt">
    Designer
  </div>

  <div class="brunoTitle">
    Thiago Oliveira
  </div>

  <div class="brunoTwitter">
    <p>
      &#0064;thiagooliveira
    </p>
  </div>

  <div class="brunoAtt">
    Developer
  </div>

</body>
