<body>

<div class="bg">
  <div class="bg__top" >
  </div>
  <div class="bg__bottom">
  </div>
</div>


<div class="header">
  <div class="containner">

  </div>
</div>

<div class="title">
  <div class="containner">
    <h2>
      Meet our team
    </h2>
  </div>

<div class="info">
  <div class="containner">
    <p>
      We are a group of multi-skilled individuals who are entrepreneurial by nature
      and live to make digital products and services that people love to use.
    </p>
  </div>
</div>


</div>
<div class="body">
  <div class="containner">

  </div>
</div>
  <a href="/" class="twitter-logo">

  </a>
  <div class="logo-content">
    Latest tweets
  </div>

</body>
